/* Your custom css code goes here */

.micon {
    height: 1.5em;
}


.mflag {
    height: 1em;
}

#loading {

    background:#000;
    opacity:0.5;
    position:fixed; /* important to use fixed, not absolute */
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:9999;
    padding: 100px 0;
    text-align: center;
    display: table-cell;
}

#loadingImage {

    margin: auto;
    height: 30px;
    display:table-cell;
    vertical-align:middle;

}



[type="file"] {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    white-space: nowrap;
    width: 1px;
}